@model JDVusers.Models.Contacto

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Contacto</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TipoContacto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.TipoContacto, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TipoContacto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CorreoElectronico, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CorreoElectronico, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CorreoElectronico, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RFC, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RFC, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RFC, "", new { @class = "text-danger" })
            </div>
        </div>


        <table>
            <thead>
                <tr>
                    <th>Tipo Telefono</th>
                    <th>Número</th>
                    <th><button type="submit" name="operacion" data-val="false" value="agregar-telefono">Agregar Telefono</button></th>
                </tr>
            </thead>
            <tbody>
            @if (Model != null && Model.Telefonos != null && Model.Telefonos.Count > 0)
             {
                 var i = 0;
                foreach (var item in Model.Telefonos)
                {
                    <tr>
                            <td>@Html.EnumDropDownListFor(model => model.Telefonos.ElementAt(i).TipoTelefono , htmlAttributes: new { @class = "form-control" }) </td>
                            <td>@Html.EditorFor(model => model.Telefonos.ElementAt(i).Numero, new { htmlAttributes = new { @class = "form-control" } })</td>
     
                        </tr>
                        i++;
                    }
                }
            </tbody>
        </table>




        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
